<div class="row">
  {{#each purchases}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          Compra 
        </h4>
        <p>{{ list }} </p>
        <p>{{ date }} </p>
        <p>{{ price }} </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>